@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Kumbh+Sans:wght@100..900&family=VT323&display=swap');

body {
    zoom: 0.8; 
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4f1ce;
}

.cartao {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 50px;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .cartao {
        width: 370px; /* Ajusta a largura para ocupar 90% da tela */
        height: 470px; /* Permite que a altura seja ajustada automaticamente */
        padding: 20px; /* Reduz o espaçamento interno */
        margin: 12px;
    }
}



.informacoes-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nome{
    margin-top: 24px;
    font-size: 28px;
}

.idade{
    color: rgb(57, 94, 95);
    font-size: 28px;
}

.cidade{
    margin-top: 42px;
    font-size: 20px;
    font-family: sans-serif;
    color: #b18f8f;
}

.seguidores, .likes, .fotos {
    font-size: 20px;
    font-family: sans-serif;
    color: #707070;
}

.botao-curtir {
    background: none; 
    border: none; 
    font-size: 28px; 
    cursor: pointer;
    transition: transform 0.2s, color 0.2s; 
}

.botao-curtir:hover {
    transform: scale(1.1); 
}  

.numeros-perfil {
    display: flex;
    font-size: 28px;
    
    justify-content: space-around;
    text-align: center;
}

.imagem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
